body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color:black;
    color: white;
}

#principal{
    background: url('imagenes/koenigsegg-jesko-absolut.jpg');
    padding:100px 1250px 310px 100px;
    color: white;
}
h1{
    font-size: 80px;
    text-align: center;
}
img {
    border-radius: 25px;
    border-style: ridge;
    border-color: rgba(98, 125, 124 , 255);
    transition: transform 0.3s ease;
  }
  
  img:hover {
      transform: scale(1.1);
}
nav {
    background-color: #000;
    color: #fff;
    padding: 10px;
  }
  
  ul {
    list-style-type: none; 
    padding: 0;
    display: flex;
    gap: 300px; /* Espaciado entre enlaces */
  }
  
   ul li {
    display: inline;
  }
  
   ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }
  
  nav ul li a:hover {
    color: rgba(98, 125, 124 , 255); /* Cambia de color al pasar el cursor */
  }
  